{% extends 'rango/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="jumbotron zl-category-div">
        <h2 class="content-heading">About Rango</h2>
    {% if visits > 0 %}
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}</p>
        {% endif%}
            <p>This is the {{ visits }} time you visit our site!</p>
    {% else %}
        {% if user.is_authenticated %}
            <h1>Welcome {{ user.username }} for your first visit!</h1>
        {% else %}
            <h1>Welcome! This is your first visit!</h1>
        {% endif %}
    {% endif %}
    <img src="{% static 'rango/images/rango-picture.png' %}" alt="Picture of Rango" />
</div>

{% endblock %}
