<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-static-top zl-nav-main" role="navigation">
            <img class="zl-nav-logo" src="{% static 'rango/images/logo.png' %}">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'rango:index' %}">Rango Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                            <li><a href="{% url 'rango:logout' %}">Logout</a></li>
                            <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
                        {% else %}
                            <li><a href="{% url 'rango:register' %}">Register Here</a></li>
                            <li><a href="{% url 'rango:login' %}">Login</a></li>
                        {% endif %}
                            <li><a href="{% url 'rango:about' %}">About</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        <div>
            {% block body_block %}{% endblock %}
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
