{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="jumbotron zl-category-div">
        <h2 class="content-heading">{{ category_name }}</h2>
        <p>

            <strong id="like_count">{{ category.likes }}</strong> people like this category

            {% if user.is_authenticated %}
                <button id ="likes" data-catid="{{category.id}}" class="btn btn-sm btn-primary">Like</button>
            {% endif %}
        </p>

        {% if pages %}
            <div class="category-pages">
                {% include 'rango/category_list.html' with pages=pages %}
            </div>
        {% else %}
            <strong>No pages currently in category.</strong><br/>
        {% endif %}

        {% if user.is_authenticated %}
            <form>
                <a class="btn btn-primary btn-sm" href="{% url 'rango:add_page' category_name_url %}">Add a Page</a>
            </form>
        {% endif %}
    </div>

    <div class="jumbotron zl-category-search-div">
        <p>Search for a page.</p>
        <form class="form-inline zl_form" id="form-search" method="POST" action="{% url 'rango:category' category_name_url %}">

            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="query-category">Category Name</label>
                <input type="text" class="form-control" id="query-category" name="query-category" size="40" value="{{ category_name }}">
            </div>

            <button type="submit" class="btn btn-success" name="submit" value="Search">Search</button>
        </form>

        <div class="category-search-result">
            {% if result_list %}
                <!-- Display search results in an ordered list -->
                <ol>
                    {% for result in result_list %}
                    <li>
                        <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                        <p>
                            {{ result.summary }}
                            {% if user.is_authenticated %}
                                <button data-catid="{{category.id}}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add-page btn btn-xs btn-info" type="button">Add</button>
                            {% endif %}
                        </p>

                    </li>
                    {% endfor %}
                </ol>
            {% else %}
                <br/>
                <p>No results found</p>
            {% endif %}
        </div>
    </div>

{% endblock %}