<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'rango:category' category.url %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'rango:restricted' %}">Restricted Page</a><br />
            <a href="{% url 'rango:logout' %}">Logout</a><br />
        {% else %}
            <a href="{% url 'rango:register' %}">Register Here</a><br />
            <a href="{% url 'rango:login' %}">Login</a><br />
        {% endif %}
        <a href="{% url 'rango:about' %}">About</a>
        <a href="{% url 'rango:add_category' %}">Add Category</a>
    </body>
</html>