{% extends 'rango/base.html' %}

{% load form_tags %}

{% block title %}Register{% endblock %}

{% block body_block %}
        <div class="container jumbotron zl-register-div">

            {% if registered %}
                Rango says: <strong>thank you for registering!</strong>
                <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
            {% else %}

            <h2 class="content-heading">Register with Rango</h2>
            <form class="form-register zl-form" id="user_form" method="post" action="{% url 'rango:register'%}"
                    enctype="multipart/form-data">

                {% csrf_token %}


                {% for field in user_form.visible_fields %}
                    {% if field.errors %}
                        <div class="form-group error">
                            <label class="control-label">{{ field.label }}</label>

                            <div class="controls">{{ field|addcss:"form-control" }}</div>

                            <div class="zl-form-error">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                                <label class="control-label">{{ field.label }}</label>
                            {{ field|addcss:"form-control" }}
                        </div>
                    {% endif %}
                {% endfor %}

                {% for field in profile_form.visible_fields %}
                    {% if field.errors %}
                        <div class="form-group error">
                            <label class="control-label">{{ field.label }}</label>

                            <div class="controls">{{ field|addcss:"form-control" }}</div>

                            <div class="zl-form-error">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="control-label">{{ field.label }}</label>
                            {{ field|addcss:"form-control" }}
                        </div>
                    {% endif %}
                {% endfor %}

                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        {% endif %}
        </div>

{% endblock %}
