/* navigation */
.zl-nav-logo {
    position: absolute;
    top: 15%;
    height: 70%;
    right: 10px;
}

/* form */
.zl-form-error {
    color: red;
}

.zl-form {
  max-width: 350px;
  padding: 15px;
  margin: 0 30px;
}


/* main content */
h2.content-heading{
    font-size: 36px;
    font-weight: bold;
}

.category-search-result {
    padding: 15px;
}

/* side-bar */
.zl-sidebar .nav>li>a {
    padding: 5px 15px;
}